.field{
    border-radius: 10px;
    border-color: black;
}

form{
    background-color: indianred; 
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 30px;
    width: 300px;
    height: 220px;
}